.cardsBody{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 350px;
    height: 430px;
    /* background-color: #9FE77C; */
    color: #FFFFFF ;
    border-radius: 36px;
    font-family: "Montserrat";
}

.normal{
    background-color: var(--clr-pk-normal);;
}

.fire{
    background-color: var(--clr-pk-fire);;
}

.water{
    background-color: var(--clr-pk-water);;
}

.grass{
    background-color: var(--clr-pk-grass);;
}

.electric{
    background-color: var(--clr-pk-electric);;
}

.ice{
    background-color: var(--clr-pk-ice);;
}

.fighting{
    background-color: var(--clr-pk-fighting);;
}

.poison{
    background-color: var(--clr-pk-poison);;
}

.ground{
    background-color: var(--clr-pk-ground);;
}

.flying{
    background-color: var(--clr-pk-fly);;
}

.psychic{
    background-color: var(--clr-pk-psychic);;
}

.bug{
    background-color: var(--clr-pk-bug);;
}

.rock{
    background-color: var(--clr-pk-roc);;
}

.ghost{
    background-color: var(--clr-pk-ghost);;
}

.dragon{
    background-color: var(--clr-pk-dragon);;
}

.dark{
    background-color: var(--clr-pk-dark);;
}

.steel{
    background-color: var(--clr-pk-steel);;
}

.fairy{
    background-color: var(--clr-pk-fairy);;
}

.cardsBody:hover{
    background-color: #7FB963;
    transition: 0.3s ease-in-out;
}

.pokemon{
    min-width:260px;
    max-width: 260px;
    min-height: 251px;
    margin-bottom: 16px;
}

.cardsTitle{
    font-size: 32px;
}

.cardsId{
    font-size: 24px;
}